$bg-body:#002947;
$btn-color:#E47C29;
$card-color:#024B5C;
$tabel-row-light-color:#e6edf0;
$bg-light:#FFFFFF;
$bg-dark:#08131B;
$bg-pill:#081735;

// sizing
$s:4px;
$xs:6px;
$m:10px;
$xm:12px;
$l:15px;
$xl:20px;


// font weight

$fw-8:800;
$fw-7:700;
$fw-6:600;
$fw-5:500;
$fw-4:400;
$fw-3:300;

// font size

$fs-xs:8px;
$fs-sm:12px;
$fs-m:16px;
$fs-ml:17px;
$fs-l:20px;

// line hight

$lh-xs:12px;
$lh-s:13px;
$lh-xm:15px;
$lh-m:16px;
$lh-l:17px;
$lh-xl:20px;
$lh-xxl:22px;

// font family

$font-family:'Archivo', sans-serif;

$img-path: "../assets/images"

